html, body {
	height:100%;
	text-align:center;
}
#otazky {
	position:relative;
     width:400px;       
     left:50%;
     margin:0 0 0 -200px;
     height:300px;

     text-align: left;
	
}
#odkazy {
   position:relative;
     width:300px;       
     left:50%;
     margin:0 0 0 -150px;
     height:300px;

     text-align: left;
}



