html, body {
	height:100%;
	min-height:100%;
}

div {
   text-align: center;
}

# wrap {
        width:100%;       
}

# center {
   position:absolute;
     width:300px;       
     left:50%;
     margin:0 0 0 -150px;
     height:300px;
     text-align: left;
}



