html, body {
	height:100%;
	text-align:center;
}
#welcome {
	

}
#centerleft {
   position:absolute;
     width:300px;       
     left:50%;
     margin:0 0 0 -150px;
     height:300px;

     text-align: left;
}



